# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Generated documentation
/docs/_build/

# Created by `make package`. `pulp_smash.egg_info` is also used when another
# package does a `pip install -e …/pulp_smash`.
/build/
/dist/
/pulp_smash.egg-info/

# Created by the gen_test_repos.sh script.
/test_repos/


# Coverage information
/.coverage
/htmlcov/
