# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Generated documentation
/docs/_build/

# Created by `make dist`. `pulp_smash.egg_info` is also used when another
# package does a `pip install -e …/pulp_smash`.
/.eggs/
/build/
/dist/
/pulp_smash.egg-info/
pip-wheel-metadata/

# Coverage information
/.coverage
/htmlcov/

# Code editor cache/preference files
.idea/

