# For `make lint`
flake8
flake8-docstrings
# See: https://github.com/zheller/flake8-quotes/issues/55
flake8-quotes<0.10
pydocstyle
pylint
astroid

# For `make test-coverage`
coveralls

# For `make docs-html` and `make docs-clean`
sphinx

# For `make package`
wheel

# For `make publish`
twine
