# For `make lint`
flake8
flake8-docstrings
flake8-quotes
pylint<1.5.0
astroid<1.4.0

# For `make test-coverage`
coveralls

# For `make docs-html` and `make docs-clean`
sphinx

# For `make package`
wheel
