# For `make lint`
flake8
flake8-docstrings
flake8-quotes
pydocstyle
pylint
astroid

# For `make test-coverage`
coveralls

# For `make docs-html` and `make docs-clean`
sphinx

# For `make package`
wheel

# For `make publish`
twine
